@model aspPro2.Models.Users

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_NewLayout1.cshtml";
}

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="~/lib/bootstrap/dist/css/profileStyle.css" rel="stylesheet" />

</head>



<div class="wrapper">
	<div class="container">
		<div class="profile">
			<div class="profile-header">
				<img src="~/images/defultPic.jpg" class="profile-img" />
				<div class="profile-text-container">
					<h1 class="profile-title">@Html.DisplayFor(model => model.Name)</h1>
					<p class="profile-email">@Html.DisplayFor(model => model.Email)</p>
				</div>
			</div>
			<div class="menu">
				<a class="menu-link"><i class="fa-solid fa-user"></i>Account</a>
				<a class="menu-link"><i class="fa-solid fa-gear"></i>Settings</a>
				<a asp-controller="login" asp-action="logout" class="menu-link"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
			</div>
		</div>

		<form asp-action="Profile" method="post" class="account">
			<div class="account-header">
				<h1 class="account-title">Account Settings</h1>
				<div class="btn-container">
					<button asp-controller="home" asp-action="Index" class="btn-cancel">Cancel</button>
					<button type="submit" class="btn-save">Save</button>
				</div>
			</div>
			<div class="account-edit">
				<div class="input-container">
					<label asp-for="Name">First Name</label>
					<input asp-for="Name" type="text" placeholder="First Name" />
				</div>
			</div>
			<div class="account-edit">
				<div class="input-container">
					<label asp-for="LastName">Last Name</label>
					<input asp-for="LastName" type="text" placeholder="Last Name" />
				</div>
			</div>
			<div class="account-edit">
				<div class="input-container">
					<label asp-for="Email">Email</label>
					<input asp-for="Email" type="email" placeholder="Email" />
				</div>
			</div>
			<div class="account-edit">
				<div class="input-container">
					<label asp-for="password">Password</label>
					<input asp-for="password" type="text" placeholder="Password" />
				</div>
			</div>


		</form>
	</div>
</div>




