
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/layoutNew.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
   
    <title>@ViewBag.Title</title>
    <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
 

<body>
    <header>
        <div class="sprite-logo-container">
            <div class="sprite-container">
                <div class="sprite"></div>
            </div>
            <a href="#" class="logo">Purple-GS</a>
        </div>
        <br />
        
            <nav>
                <a asp-controller="Home" asp-action="Index" class="active"><i class="fa-duotone fa-solid fa-house"></i>home</a>
                <a asp-controller="login" asp-action="Profile"><i class="fa-solid fa-user"></i>manage Profile</a>
            <a asp-controller="Home" asp-action="AboutGame"><i class="fa-solid fa-gamepad"></i>about game</a>
                <a asp-controller="Search" asp-action="Search"><i class="fa-solid fa-magnifying-glass"></i>search games</a>
                <a href="#"><i class="fa-solid fa-download"></i>download games</a>
                <span></span>
                <i class="fa-regular fa-x" id="X" onclick=hideSidebar()></i>
            </nav>
        <i class="fa-solid fa-bars" id="menu" onclick=showSidebar()></i>
        
    </header>

    <div class="RenderBody_container">
        @RenderBody() 
    </div>

    @RenderSection("scripts", required: false)
    
</body>


</html>
<script>
    function hideSidebar() {
        console.log("helllo")
        const sidebar = document.querySelector('nav');
        const menu = document.getElementById('menu');
        menu.style.display = 'flex';
        sidebar.style.display = 'none';
    }
    function showSidebar() {
        const sidebar = document.querySelector('nav');
        const menu = document.getElementById('menu');
        menu.style.display = 'none';
        sidebar.style.display = 'flex';
    }
</script>

