@model aspPro2.Models.Students
@{
    ViewData["Title"] = "register";
    Layout = null;
}

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/register.css" />
</head>
<section>
    <div class="form-box">
        <div class="form-value">
            <form asp-action="register" method="post">
                <h2>Register</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input asp-for="Name" type="text" required />
                    <label asp-for="Name">Name</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input asp-for="Email" type="Email" required />
                    <label asp-for="Email">Email</label>
                </div>
                @* <div class="inputbox">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="inputbox">
                    <label asp-for="department" class="control-label"></label>
                    <input asp-for="department" class="form-control" />
                    <span asp-validation-for="department" class="text-danger"></span>
                </div> *@
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input asp-for="password" type="password" required />
                    <label asp-for="password">Password</label>
                </div>
                
                <div class="forget">
                    <label for=""><input type="checkbox" />Remember Me<a href="#">Forget Password</a></label>
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
                <div class="register">
                    <p> have an account? <a href="login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

