@model aspPro2.Models.Students
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_NewLayout1.cshtml";
}
<link href="~/lib/bootstrap/dist/css/searchStyle.css" rel="stylesheet" />
@* <h1>Search</h1> *@

@* <form asp-action="Search" method="post">
    <div class="form-group">
        <label for="id">Student Id</label>
        <input type="number" name="id" required />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
 *@

<body>
    <div class="container">
        <form asp-action="Search" method="post" class="search-form">
            <input type="text" name="search" placeholder="search games" />    
            <botton type="submit"><i class="fa-solid fa-magnifying-glass" id="icon"></i></botton>
        </form>
    </div>
</body>